@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --darknavy: #0a192f;
  --slate: #8892b0;
  --neongreen: #64ffda;
  --lightnavy: #152643;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--darknavy);
}

//navbar styling
.navitem {
  display: flex;
  padding-block: 3%;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
  position: fixed;
  order: 2;
  background-color: var(--darknavy);
  a:hover,
  a:focus {
    color: var(--neongreen);

    border-bottom: 1px solid var(--neongreen);
  }
}
ul {
  display: flex;
  grid-gap: 40px;
  list-style-type: none;
  justify-content: right;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.resume {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding-inline: 6%;
}
li {
  align-self: center;
}
a {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: var(--slate);
}

.resume-text {
  border: 1px solid var(--neongreen);
  padding: 2px 10px;
  color: var(--neongreen);
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  background-color: var(--darknavy);
}
.resume-text:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
  background-color: rgb(97, 13, 13);
  border-radius: 5px;
}

//home styling
.home {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 70%;
  margin: auto;
  padding-block: 21% 20%;
  font-family: "Poppins", sans-serif;

  .greetings {
    color: var(--neongreen);
    font-size: 10px;
    font-weight: 10;
    margin-bottom: 15px;
    transition-delay: 10ms;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .devname {
    color: #d3d8e7;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: clamp(16px, 8vw, 40px);
  }
  .slogan {
    color: var(--slate);
    font-size: clamp(17px, 8vw, 30px);
  }
  .brifeintro {
    color: var(--slate);
    font-size: clamp(12px, 8vw, 20px);
    margin: 20px 0px 40px;
  }

  .workbtn {
    color: var(--neongreen);
    background-color: transparent;
    border: 1px solid var(--neongreen);
    border-radius: 10px;
    font-size: clamp(12px, 1vw, 20px);
    font-family: "Poppins", sans-serif;
    line-height: 1;
    padding: 13px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .workbtn:hover {
    background-color: #64ffdb27;
    color: white;
    cursor: pointer;
  }
}

/////////about styling

.about {
  width: 100%;
  color: white;
  display: flex;
  width: 70%;
  margin: auto;
  height: 60vh;
  flex-direction: row;
  .content {
    display: flex;
    -moz-box-pack: center;
    justify-content: flex-start;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 90%;
    margin: auto;
    padding-block: 0 20%;
    font-family: "Poppins", sans-serif;
    word-spacing: 3px;
    .aboutme {
      z-index: -2;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      position: relative;
      margin: 10px 0px 40px;
      width: 100%;
      white-space: nowrap;
    }
    .aboutme::after {
      width: 69%;
      height: 1px;
      margin-left: 20px;
      background-color: white;
      top: 0px;
      position: relative;
      display: block;
      content: "";
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      gap: 0px 10px;
      padding: 0px;
      margin: 20px 0px 0px;
      overflow: hidden;
      list-style: outside none none;
      font-size: 90%;
      .greaterthan {
        color: var(--neongreen);
      }
    }
  }
  .avatar {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-avatar {
      width: 90%;
      height: 90%;
    }
  }
}
.contact {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  color: #d3d8e7;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  height: 65vh;
  width: 70%;
  margin: auto;
  padding-block: 21% 20%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  input {
    color: whitesmoke;
    background-color: var(--lightnavy);
    width: 600px;
    height: 40px;
    margin-block: 7px;
    font-size: large;
    font-family: "Poppins", sans-serif;
    border: none;
    border-left: 6px solid #5c5d5e;
    padding-left: 10px;
  }
.username{
  margin-top: 10px;
}
  textarea:focus,
  input:focus {
    border-left: 6px solid var(--neongreen);
  }
  .usermsg {
    margin-block: 5px;
  }
  textarea {
    background-color: var(--lightnavy);
    width: 600px;
    font-size: large;
    height: 40px;
    margin-block: 7px;
    border: none;
    font-family: "Poppins", sans-serif;
    border-left: 6px solid #5c5d5e;
    padding: 10px;
    height: 150px;
    font-size: 16px;
    color: whitesmoke;
  }

  button {
    color: var(--neongreen);
    background-color: transparent;
    border: 1px solid var(--neongreen);
    border-radius: 10px;
    font-size: clamp(12px, 1vw, 20px);
    font-family: "Poppins", sans-serif;
    line-height: 1;
    padding: 13px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
////////////////////////// media quiery
@media only screen and (max-width: 690px) {
  .header {
    display: none;
  }
  .home,
  .about {
    height: 100%;
    width:100%;
  }
  .home{
    width: 90%;
  }
  .about .content{
    width:80%;
  }

  .about,
  .avatar {
    display: flex;
    width: 90%;
    flex-direction: column-reverse;
    margin: auto;
  }
  .contact {
    width: 70%;
    height:80vh;
    input {
      width: 110%;
    }
    textarea{
      width: 154%;
      padding: 0;
      margin: 0;
    }
  }
}
